
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
body.cv
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #3b3b3b;
}

body.cv a{
    text-decoration: none;
}
body.cv a:hover{ 
    border: none;
}
.cv-h1, .cv-h2{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.cv-blue{
   background-color: #3b558d;
}
.cv-white{
    background-color: #f1f1ef;
}
.cv-sec{
    padding: 0 30px;
}
.cv-h2{
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid royalblue;
}
/* left */
.cv-photoname{
    padding: 30px;
}
.cv-h1{
    margin: 10px 20px;
    font-size: 1,5em;
    color: thistle;
}
.cv-photo{
    max-width: 100%;
}
.cv-contacts{
    padding: 30px;
}
.cv-skills{
    padding-bottom: 30px;
}
.cv-skills-list{
    color: #ffffff;
    list-style: none;
    padding-left: 15px;
}
.cv-contacts,
.cv-contacts a{
    color: #ffffff;
    
}
.contacts-link{
    border-bottom: 1px solid #ffffff;
}
.contacts-list{
    list-style: none;
    padding: 0;
}
.contacts-item{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.contacts-item img{
    width: 40px;
    margin-right: 10px;
}
.contacts-linkimg{
    border: none;
}

.cv-skills-item{
    position: relative;
    margin-bottom: 7px;
}
.cv-skills-item::before {
    content: "";
    position: absolute;
    left: -15px;
    top: calc(50% - 3px);
    display: block;
    height: 6px;
    width: 6px;
    background-color: royalblue;
    border-radius: 100%;
}


/* right */
.block-right .cv-sec{
    padding-top: 15px;
    padding-bottom: 15px;
}
.block-right .cv-sec.cv-laguages{
    padding-bottom: 30px;
}
.block-right .cv-sec.cv-summary{
    padding-top: 30px;
}
.cv-h2-white{
    color: #ffffff;
}
.cv-table-row:nth-child(2n){
    background-color: #e6e6e6;
}
.cv-table-td{
    padding: 15px 20px;
}


@media (min-width: 576px){
    .container{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 540px;
        padding: 0;
        -webkit-box-shadow: -5px 5px 20px 5px rgba(34, 60, 80, 0.3);
        -moz-box-shadow: -5px 5px 20px 5px rgba(34, 60, 80, 0.3);
        box-shadow: -5px 5px 20px 5px rgba(34, 60, 80, 0.3);
    }       
}

/* adaptive */
@media (min-width: 1200px){
    .container{
        max-width: 950px;
    }
    .cv-main{
        display: flex;
        flex-wrap: wrap;
    }
    .block-left{
        width: 30%;
    }
    .block-right{
        width: 70%;
    } 
    
    .cv-table-row{
        display: flex;
    }
    .cv-table-td:nth-child(1){
        width: 30%;
        max-width: 150px;
    } 
    .cv-table-td:nth-child(2){
        width: 70%;
    } 
    
}

  
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    text-rendering: auto;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, 
  .collapsible:hover { 
    background-color: #e6e6e6;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    max-height: 0;
    display: flex;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  .line-st{ 
    background-color: #e6e6e6;
  }
